* {
  transition: all 0.5s ease;

}

#CONTAINER {
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: cover;
  background: linear-gradient(90deg, rgba(15, 122, 3, 1) 47%, rgba(37, 226, 219, 1) 100%);
  font-family: 'VT323', monospace;

}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}



#main-pokemon {
  width: 20%;
  height: 20%;
}

#pre-evolution{
  width: 70px;
  height: 70px;
  position: absolute;
  left: 70px;
  top: 300px;
}

#run {
  background-color: white;
}


#pokemon:not(:focus) {
  font-style: italic;

}


#Moves {
  display: inline-block;
  position: absolute;
  top: 80px;
  right: 430px;
  box-shadow: -.5vh .5vh 0vh .5vh rgba(0, 0, 0, 0.3) inset;
  background: white;
  height: 40vh;
  width: 45vh;
  color: grey;
  border-radius: .5vh;
  z-index: 1;


}

.movement {
  font-size: 4vh;
}


.input-field {

  position: absolute;
  bottom: 83%;
  left: 7%;
}

#prev {

  position: absolute;
  left: 140px;

}

#next {
  position: absolute;
  left: 280px;
}

#information-pokemon{
  display: inline-block;
  position: absolute;
  top: 80px;
  right: 790px;
  box-shadow: -.5vh .5vh 0vh .5vh rgba(0, 0, 0, 0.3) inset;
  background: white;
  height: 40vh;
  width: 45vh;
  color: grey;
  border-radius: .5vh;
  z-index: 1;
}

#info{
  position: absolute;
  top: 20%;
}

.info{
  font-size: 4vh;
}